.jumbotron {
  background-image: url(https://tinyurl.com/y2xwangt);
  background-position: center center;
  background-size: cover;
  height: 50vh;
  min-height: 10rem;
  margin-top: 50px;
  margin-bottom: 0px;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.carousel-inner img {
  width: 100%;
  max-height: 460px; }

.contenido-jumbotron h1 h2 {
  color: #fff;
  padding-bottom: 2rem;
  max-width: 60rem;
  line-height: 2; }

.container h1 {
  color: #Fff;
  padding-bottom: 2rem;
  max-width: 60rem;
  line-height: 2; }

.tarjets {
  background-image: url(https://tinyurl.com/yyf5vrv2);
  background-position: center center;
  background-size: cover;
  height: 35vh;
  min-height: 10rem;
  margin-top: 30px;
  margin-bottom: 0px; }

.card-tarjets {
  /* background-color: teal; */
  opacity: .7;
  /* color: cadetblue; */ }

.card-tarjets:hover {
  opacity: 1.0; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #343A40;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotels {
  flex: 1 150px;
  padding: 2px 0px 2px 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 10px; }

.card-hotels img {
  opacity: .6; }

.card-hotels img:hover {
  opacity: 1;
  transition: all .3s ease-in; }

.footer-icon {
  padding-right: 10px; }

.oi-aperture {
  padding-right: 7px; }

.oi-credit-card {
  padding-right: 7px; }

.oi-star {
  color: yellow; }

.oi-plus {
  margin-left: 10px;
  color: #00CC00; }
